.pg {
//   border-bottom: 1px solid rgb(255, 255, 255);
//   border-top: 1px solid rgb(255, 255, 255);
  color: rgb(25, 219, 25);
  text-shadow: 4px 3px 10px rgb(131, 22, 8); 
}

.scare {
  color: crimson;
}